<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775110895315-dblbk98dr3ou98qinv7v99ral02fnn88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775110895315-dblbk98dr3ou98qinv7v99ral02fnn88</string>
	<key>API_KEY</key>
	<string>AIzaSyA4SDnJv_gR_-MhxPsmrnMq5De9aoV2Wk0</string>
	<key>GCM_SENDER_ID</key>
	<string>775110895315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.folariumTestApps</string>
	<key>PROJECT_ID</key>
	<string>kaspin-test</string>
	<key>STORAGE_BUCKET</key>
	<string>kaspin-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775110895315:ios:e62079e40e0468caf39626</string>
	<key>DATABASE_URL</key>
	<string>https://kaspin-test-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>